<section id='feature'>
		<%= image_tag "feature/Fiat-500-US-Spec-02.jpg", :width => "895", :height => "596" %>
		<%= image_tag "feature/Fiat-500-Convertible-2.jpg", :width => "895", :height => "596" %>
		<%= image_tag "feature/2010_fiat_500_actprf_ns_31610_717.jpg", :width => "895", :height => "596" %>
</section>

<%= render "articles/news" %>